{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Create Reelemx</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/reelemxs">
            <div class="field">
                <div class="control">
                    <div class="reelemx">
                        <div class="container">
                            <div class="Title">
                                <input class="user input-field" type="text" name="title" placeholder="Name your Reelemx">
                                <input type="hidden" name="user_id" value={{ id }}>
                            </div>
                        </div>

                        <div class="comment">
                            <div class="text-container">
                                <input class="user input-field" type="text" name="body" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" type="submit">All Reelemx</button>
        </form>
        # All Reelemxs display list
        <div>
            {% for reel in reelemxs %}
            <li><a href='/reelemxs/id'>{{reel.title}}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}