{% extends "base.html" %}

{% block content %}
<h1>{{ reelemx.title }}</h1>
<p>{{ reelemx.body }}</p>
<form method="POST"> 
  <h1>Edit Reelemx</h1>
    <div class="field">
      <div class="control">
          <div class="reelemx">
              <div class="container">
                  <div class="Title">
                      <input class="user input-field" type="text" name="title" placeholder="Name your Reelemx">
                      <input type="hidden" name="user_id" value={{ id }}>
                  </div>
              </div>

              <div class="comment">
                  <div class="text-container">
                      <input class="user input-field" type="text" name="body" placeholder="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <button class="button is-block is-info is-large is-fullwidth" type="submit">Update Reelemx</button>
</form>
{% endblock %}
